.eventCard {
  width: 32rem;
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  margin-left: 12rem;
}

.eventCard .search_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  border-radius: 1rem;
  border: 1px solid rgb(109, 109, 109);
}

.eventCard .search_container img {
  width: 20px;
}

.eventCard .inputField {
  width: 100%;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* text-align: center; */
}

.eventCard .inputField:focus {
  outline: none;
  border: none;
}

.eventCard .events_Cards {
  /* margin: 0 auto; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  color: black;
}

.eventCard .events_Cards .event_card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 8rem;
  background-color: rgba(241, 94, 28, 0.2);
  margin-top: 2rem;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 2rem;
  cursor: pointer;
  color: black;
}

.eventCard .button_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.eventCard .btn {
  width: 48%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .eventCard {
    margin: 0;
    width: 100%;
    padding: 1;
    margin-top: 2rem;
  }
  .eventCard .search_container {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .eventCard .search_container img {
    width: 0.7rem;
  }
  .eventCard .inputField {
    width: 100%;
  }
  .eventCard .inputField::placeholder {
    font-size: 0.6rem;
  }

  .eventCard .events_Cards {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .eventCard .events_Cards .event_card {
    width: 100%;
    height: 6rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 1rem;
  }
  .eventCard .btn {
    width: 45%;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .eventCard {
    margin: 0;
    width: 100%;
    padding: 1;
    margin-top: 2rem;
  }

  .eventCard .search_container {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .eventCard .search_container img {
    width: 0.7rem;
  }
  .eventCard .inputField {
    width: 100%;
  }
  .eventCard .inputField::placeholder {
    font-size: 0.6rem;
  }
  .eventCard .events_Cards {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-left: 0.6rem;
  }
  .eventCard .events_Cards .event_card {
    width: 90%;
    height: 8rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 1rem;
  }

  .eventCard .btn {
    width: 45%;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1rem;
    padding: 0.7rem;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)  
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .eventCard {
    margin-left: 5rem;
    width: 45rem;
  }

  .eventCard .events_Cards {
    margin: 0 3rem;
  }
}

/* 
  ##Device = Laptops, Desktops  
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .eventCard {
    margin-left: 5rem;
    width: 45rem;
  }
  .eventCard .events_Cards {
    margin: 0 3rem;
  }
}

/* 
  ##Device = Desktops 
*/
@media (min-width: 1281px) {
  .eventCard {
    margin-left: 5rem;
    width: 45rem;
  }
  .eventCard .events_Cards {
    margin: 0 3rem;
  }
}
