.attendee-content {
  margin: 1rem;
  width: 78%;
}

.attendee-content .top-content .topbtns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.attendee-content .top-content .exportBtn {
  background-color: white;
  border: 1px solid #f15e1c;
  width: 6rem;
  padding: 1rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  margin: 2rem;
  margin-left: 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.attendee-content .top-content .att {
  width: 12rem;
}

.attendee-content .top-content .exportBtn h1 {
  font-size: 1rem;
  text-align: center;
}

.attendee-content .search_container {
  width: 60%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  border-radius: 1rem;
  border: 1px solid rgb(109, 109, 109);
}

.attendee-content .event_cards {
  width: 100%;
}

.attendee-content .event_cards .card_events {
  display: flex;
  /* align-items: center; */
  overflow-x: auto; /* Enables horizontal scrolling */
  overflow-y: hidden; /* Prevents vertical overflow */
  /* white-space: nowrap;     Prevents items from wrapping to next line */
  scrollbar-width: thin; /* Thin scrollbar (for Firefox) */
  width: 100%;
  /* gap: 1rem;                Optional: space between cards */
  padding-bottom: 8px;
}

.attendee-content .event_cards .card {
  width: 12rem;
  flex-shrink: 0;
  border-radius: 0.6rem;
  border: 1px solid rgb(208, 203, 203);
  font-size: 1.2rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  font-weight: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  margin-right: 2rem;
}

.attendee-content .event_cards .card:hover {
  background-color: #f15e1c;
  color: white;
}

.card.selected {
  border: 2px solid #007bff;
  background-color: red;
}

.attendee-content .search_container img {
  width: 20px;
}

.attendee-content .search_container .inputField {
  width: 100%;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: none;
}

.attendee-content .search_container .inputField:focus {
  outline: none;
  border: none;
}

.attendee-content .search_container .inputField::placeholder {
  font-size: 0.6rem;
}

.attendee-content .collected-details {
  border-radius: 1rem;
}

.attendee-content .collected-details .headers {
  display: flex;
  width: 100%;
  background-color: rgb(244, 194, 194);
  justify-content: space-around;
  padding: 1rem;
  border-radius: 1rem;
}
.attendee-content .collected-details .headers .header {
  width: 10%;
  text-align: center;
}

.attendee-content .attendee-details .detail {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.attendee-content .attendee-details .detail div {
  width: 10%;
  text-align: center;
}

.attendee-content .pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.attendee-content .pagination .pagination-btn {
  background-color: #f15e1c;
  width: 8rem;
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
