.sidebar_content {
  background-color: white;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 100vh;
  border-radius: 0rem 2rem 2rem 0rem;
  box-shadow: 2rem 1rem 5rem 2rem rgb(235, 234, 234);
}

.sidebar_content .tabs {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 40%;
}

.sidebar_content .tab {
  width: 100%;
  display: flex;
  align-items: center;
  color: black;
}

.sidebar_content .tab img {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.sidebar_content .tab h2 {
  font-size: 1.3rem;
  margin-right: 3rem;
}

.modal {
  width: 40%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

.modal h2 {
  margin: 1rem auto;
  width: 50%;
  font-size: 2rem;
  text-align: center;
}

.modal .modal_form {
  width: 100%;
  margin-left: 1.5rem;
}

.modal .modal_form .labels {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  width: 100%;
}

.modal .modal_form label {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-size: 0.7rem;
}

.modal .modal_form .inputfield {
  width: 90%;
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: 1px solid #f15e1c;
  margin-top: 0.7rem;
}

.modal .modal_form .inputfield:focus {
  border: 1px solid #f15e1c;
  outline: none;
}

.modal .modal_form .btn {
  margin: auto;
  width: 50%;
  padding: 0.7rem;
  background-color: #f15e1c;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.sidebar_content .logout {
  display: flex;
  align-items: center;
  color: black;
  font-size: 1.5rem;
  width: 100%;
  /* background-color: red; */
  margin-top: 5rem;
  cursor: pointer;
}

.sidebar_content .logout img {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.logout-modal .warning-img {
  margin-top: 5rem;
}

.logout-modal .warning-img img {
  height: 5rem;
  width: 5rem;
}

.logout-modal .logout-options {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

.logout-modal .logout-options .btn {
  margin: auto;
  width: 30%;
  padding: 0.7rem;
  background-color: red;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;

  margin-bottom: 2rem;
}

.logout-modal .logout-options .no {
  background-color: rgb(85, 84, 84);
  color: white;
}

.form_creation {
  height: 45rem;
  overflow-y: auto;
  overflow-x: hidden;
  /* scrollbar-width: thin; */
  scroll-behavior: smooth;

  
}

.modal_form .newformlabels {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  scroll-behavior: smooth;
}

.newform {
  width: 75%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #f15e1c;
  margin-top: 2rem;
  box-shadow: 10px 10px 10px 1px rgba(210, 208, 208, 0.5);
}

 .newform:focus {
  border: 1px solid #f15e1c;
  outline: none;
}

.newformlabels .form-creation-container {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #f15e1c;
  margin-top: 2.7rem;
  box-shadow: 10px 10px 10px 1px rgba(210, 208, 208, 0.5);
}

.newformlabels .form-creation-container .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.newformlabels .form-creation-container .top .questionInput {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #f15e1c;
}

.top .questionInput:focus {
  border: 1px solid #f15e1c;
  outline: none;
}

.top .select-tab {
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: 1px solid #f15e1c;
}

.top .select-tab:focus {
  border: 1px solid #f15e1c;
  outline: none;
}

.top .form-duplicate {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f15e1c;
  border-radius: 100%;
}

.top .form-duplicate img {
  height: 30px;
  width: 30px;
}

.bottom h5 {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  margin-bottom: 0.5rem;
}

.bottom .required-tab {
  margin-top: 5px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.bottom .required-tab h3 {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  margin-left: 10px;
  margin-right: 10px;
}

button {
  background-color: #f15e1c;
  width: 8rem;
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 5rem;
  
}

.form-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 100%;
}
